    footer {
        padding: 0;
        width: 100%;
        background-color: #343643;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-container {
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
            
            div{
                width: 1px;
                height: 40px;
                background-color: rgb(182, 181, 181);
                margin-right: 10px;
            }

            p {
                font-family: 'Crimson pro', serif;
                color: whitesmoke;
                margin: 0;
            }
        }
    }